<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="m-0 p-0">
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/urlshorten" method="post">
        <div class="row w-100">
          <label for="urlLong" class="sr-only visually-hidden-focusable b"
            >Enter url</label
          >
          <div class="m-2">
            <input
              type="text"
              name="urlLong"
              class="form-control m-2"
              placeholder="Url"
            />
            <button type="button" class="btn btn-success btn-md col-6 m-2">Shorten</button>
          </div>
        </div>
      </form>
      <div class="container text-center d-flex flex-column p-3">
          <div class="row row-cols-6  justify-content-between border border-primary">
            <div class="col">Long URL</div>
            <div class="col">Short URL</div>
            <div class="col">Clicks</div>
            <div class="col">Expiry</div>
          </div>
        <% urls.forEach(url => { %>
          <div class="row row-cols-6 justify-content-between p-2 border border-primary">
            <div class="col text-break"><%= url.long %></div>
            <div class="col text-break"><a href="<%= process.env.BASE_URL+'/'+url.short %>"><%= process.env.BASE_URL+'/'+url.short %></a></div>
            <div class="col"><%= url.clicks %></div>
            <div class="col"><%= url.expireAt.toString().split(' ').slice(1,4).join(' ') %></div>
          </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
